/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Zen+Dots&display=swap');

/* General rules */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background-color: sandybrown;
    display: grid;
}

h1, h2, h3 {
    font-family: 'Zen Dots', cursive;
}

/* Header */
header {
    background-color: lightskyblue;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Game rules */
.game-rules {
    margin-top: 35px;
}

#rule-list {
    margin-top: 10px;
}

.game-rules p {
    margin-top: 20px;
}

/* Gaming div */
.game {
    margin-top: 25px;
}

.choice-button {
    margin: 25px 25px 25px 25px;
    font-size: 4rem;
    border-top: 10px;
    border-bottom: 10px;
    border-radius: 10px;
    background-color: sandybrown;
}

.choice-button:hover {
    color: lightskyblue;
}

/* Gamer choice  */
.float-left {
    float: left;
    margin-left: 25%;
    width: 25%;
}

/* Computer choice */
.float-right {
    float: right;
    margin-right: 25%;
    width: 25%;
}

.float-right, .float-left {
    margin-top: 25px;
    margin-bottom: 50px;
}

.float-right i, .float-left i{
    margin-top: 25px;
    font-size: 500%;
    background-color: sandybrown;
}

/* Results */
.game-result {
    margin-bottom: 50px;
}

#gamer-score {
    color: green;
    font-weight: bold;
}

#computer-score {
    color: red;
    font-weight: bold;
}

/* Reset float div */
#reset-float {
    width: 60%;
    height: 400px;
    border-radius: 10px;
    border: 2px solid;
    background-color: rgba(135, 206, 250, 0.8);
    position: absolute;
    z-index: 2;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
}

/* Reset button */
#reset-button {
    background-color: white;
    border-radius: 5px;
    border: 2px solid;
    width: 150px;
    height: 100px;
    font-size: 150%;
    margin-top: 125px;
}

#reset-button:hover {
    color: sandybrown;
}

/* The reset button and the reset float div are to be invisible untill the game is over */

.invisible {
    display: none;
}

/* Media Quaries */
/* 960px screen width and down*/

@media screen and (max-width: 960px) {
    #reset-float {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* 780px screen width and down */

@media screen and (max-width: 780px){
    h1 {
        font-size: 150%;
    }

    #reset-float {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .float-left {
        margin-left: 15%;
        width: 35%;
        font-size: 90%;
    }

    .float-right {
        margin-right: 15%;
        width: 35%;
        font-size: 90%;
    }
}

/* 500px screen width and down */
@media screen and (max-width: 500px){
    .float-left {
        margin-left: 5%;
        width: 45%;
        font-size: 80%;
    }

    .float-right {
        margin-right: 5%;
        width: 45%;
        font-size: 80%;
    }
}
/* 350 screen width and down */

@media screen and (max-width: 350px) {
    h1, h2, h3 {
        font-size: 100%;
    }
}